<div class="ui card">
    <div class="image">
        <img class="sidebar-avatar" src="https://www.gravatar.com/avatar/<%= config['runtime'].emailHash %>?size=300">
    </div>
    <div class="content">
        <a class="header"><%= config['wiki'].author %></a>
        <div class="meta">
            <span class="date"><%= config['wiki'].email %></span>
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
    </div>
    <div class="extra content" style="text-align: center">
        <a href="https://github.com/" class="item">
            <i class="github icon large"></i>
        </a>
        <a href="https://google.com" class="item">
            <i class="google icon large"></i>
        </a>
        <a href="https://twitter.com/" class="item">
            <i class="twitter icon large"></i>
        </a>
    </div>
</div>